<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/bootstrap4">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">

    <div class="py-3 pt-md-5 pb-md-4 px-5 w-75 mx-auto text-center">
        <img class="rounded-circle border"
             style="width: 90px;border: 1px solid #dcdee0!important;padding:3px;background: #fefefe;"
             src="/images/user.jpg"/>
        <p class="text-muted mt-3">
            이 사이트에 오신 것을 환영합니다. 제 이름은 Raysmond이고 중국 상하이에서 백엔드 개발 엔지니어로 일하고 있습니다.
            여기에서는 개발, 아키텍처, DevOps 등에 관한 몇 가지 주제를 공유하고자 합니다.</p>
        <div class="mt-5 pt-5 pb-5 border-top">
            <h4 class="text-muted">최신 기사</h4>
        </div>
    </div>

    <div class="blog-main">
        <div class="blog-post" th:each="post : ${posts}">
            <a class="post-title" th:href="@{/posts/{id}(id=${post.getPermalink()})}">
                <h2 th:text="${post.title}"></h2>
            </a>
            <p class="blog-post-meta text-muted">
                <span>발표하다</span>
                <span th:text="${@viewHelper.getFormattedDate(post.getCreatedAt())}"></span>
                <span>/</span>
                <span>읽다</span>
                <span th:text="${post.views}"></span>
            </p>
            <div class="post-content post-summary" th:if="${post.renderedSummary!=null}"
                 th:utext="${post.renderedSummary}"></div>
            <div class="post-content post-summary" th:if="${post.renderedSummary==null}"
                 th:utext="${post.renderedContent}"></div>
            <div>
                <a th:href="@{/posts/{id}(id=${post.getPermalink()})}" class="btn btn-secondary btn-sm">전문을 읽다</a>
            </div>
            <hr/>
        </div>

        <nav class="blog-pagination text-center">
            <a class="btn btn-outline-primary" href="/posts/archive">查看更多</a>
        </nav>
    </div>

</div>
</body>
</html>
